.home_default {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
  } 
  .home_default img {
    width: 100px;
    margin-bottom: 11px;
  }
  .home_default p {
    font-size: 18px;
    color: #928888;
    letter-spacing: 2px;
  }